.tweet-button {
  background-color: #4056A1;
  font-family: 'Bungee';
  color: #FFFFFF;
}

.new-tweet {
  display: flex;
  background-color: #ecb666;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  align-items: center;
  word-wrap: break-word
}
.latest-tweets{
  word-wrap: break-word
}

.text-area {
  width: 600px;
}

#tweet-text {
  padding-top: 20px;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  background-color: #ecb666;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  border-top: #ecb666;
  border-left: #ecb666;
  border-right: #ecb666;
  border-bottom: 0.2rem solid black;
}

.counter {
  float: right;
  font-family: 'Bungee';
}

article:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 10);
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 7em;
  padding: 10px;
  margin: 40px 0;
  width: 25em;
  font-family: 'Source Sans Pro', sans-serif;
  border: 0.2rem solid black;
  border-radius: 10px;
}

article .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-handle {
  color: #4056A1; 
  margin-left: auto;
}
.user-name{
  margin-right: auto;
}

article p {
  font-weight: bold;
}

#new-tweet {
  margin-top: 30px;
}

article footer {
  padding-top: 10px;
  border-top: 0.2rem solid black;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.icons {
  float: right;
  color: #4056A1;
}

footer i:hover {
  color: #b9aa05
}

#over-140-error {
  height: 40px;
  font-family: 'Bungee';
  color: #D8000C;
  background-color: #ecb666;
  border: #D8000C;
}

#no-content-error {
  height: 40px;
  font-family: 'Bungee';
  color: #D8000C;
  background-color: #ecb666;
  border: #D8000C, 2px;
}

